/*draggable*/
#draggable { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em; 
}

/*selectable*/
#selectable  li{
	margin-top: 5px;
	padding: 15px;
	cursor: pointer;
}

#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }

/*sortable*/
#sortable  li{
	margin-top: 5px;
	padding: 15px;
	cursor: pointer;
}

/*droppable*/
#dragg { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
#droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }

/*resizable*/
#resizable { width: 150px; height: 150px; padding: 0.5em; }
#resizable h3 { text-align: center; margin: 0; }

/*sortable_display_as_grid*/
#sortable2 { list-style-type: none; margin: 0; padding: 0; width: 450px; }
#sortable2 li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center; }

/*tooltip*/
label {
    display: inline-block;
    width: 5em;
  }
